@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap");
.flexToCenterFullScreenColumn {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 0;
  margin: 0;
}

.lightMainFont {
  font-family: "Nunito";
  font-weight: 300;
}

.mainFont {
  font-family: "Nunito";
  font-weight: 400;
}

.heavyMainFont {
  font-family: "Nunito";
  font-weight: 700;
}

.darkText {
  color: #0a280a;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  font-family: "Nunito";
  font-weight: 700;
  color: #fafff5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  color: black;
}

@media screen and (min-width: 0px) {
  .contactFontSize {
    font-size: 1.26rem;
  }
}

@media screen and (min-width: 767px) {
  .contactFontSize {
    font-size: 1.8rem;
  }
}

.iconSize {
  width: 3.4rem;
  height: 3.4rem;
}

.btnIconSize {
  width: 1.1rem;
  height: 1.1rem;
}

.container-fluid {
  border-radius: 0px 0px 0px 0px;
}

.loadingDisplay {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 0;
  margin: 0;
  font-family: "Nunito";
  font-size: 1.4rem;
  font-weight: 700;
  padding-left: auto;
  padding-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@media screen and (min-width: 0px) {
  .linkHoverAnim {
    padding: 4px;
    margin: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .callToActionEmailIcon {
    padding: 8px;
    background-color: white;
    color: black;
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (min-width: 767px) {
  .linkHoverAnim {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .linkHoverAnim:hover {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 125%;
    padding: 5px;
  }
  .callToActionEmailIcon {
    padding: 15px;
    background-color: white;
    color: black;
    width: 4rem;
    height: 4rem;
  }
}

.my-hero {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 255, 0, 0)), color-stop(rgba(0, 64, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.9))), url("../img/rgbg6.png");
  background-image: linear-gradient(to left, rgba(0, 255, 0, 0), rgba(0, 64, 0, 0.5), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("../img/rgbg6.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@media screen and (min-width: 767px) {
  .my-hero {
    background-image: url("../img/me1.png"), -webkit-gradient(linear, right top, left top, from(rgba(0, 255, 0, 0.05)), color-stop(rgba(0, 64, 0, 0.2)), color-stop(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.5))), url("../img/rgbg5.png");
    background-image: url("../img/me1.png"), linear-gradient(to left, rgba(0, 255, 0, 0.05), rgba(0, 64, 0, 0.2), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.5)), url("../img/rgbg5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
}

@media screen and (min-width: 0px) {
  .my-hero-inside {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    padding: 0;
    margin: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 5rem;
    background-blend-mode: darken;
  }
  .my-hero-inside .mainHeading {
    display: none;
  }
  .my-hero-inside .mainHeadingMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Nunito";
    font-weight: 700;
    font-size: 2.32rem;
    margin: 0;
    color: #fafff5;
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .my-hero-inside .subtitleHeading {
    font-family: "Nunito";
    font-size: 0.86rem;
    margin: 0;
    color: #fafff5;
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .my-hero-inside .headingDivider {
    margin-top: 0.75vw;
    margin-bottom: 0.75vw;
  }
}

@media screen and (min-width: 767px) {
  .my-hero-inside {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: left;
    padding-bottom: 0rem;
    background-blend-mode: darken;
  }
  .my-hero-inside .mainHeadingMobile {
    display: none;
  }
  .my-hero-inside .mainHeading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Nunito";
    font-weight: 700;
    font-size: 3.4rem;
    margin: 0;
    color: #fafff5;
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .my-hero-inside .subtitleHeading {
    font-family: "Nunito";
    font-size: 1.4rem;
    margin: 0;
    color: #fafff5;
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .my-hero-inside .headingDivider {
    margin-top: 0.75vw;
    margin-bottom: 0.75vw;
  }
}

.heroScrollDownAnim {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.removeIfMob {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .removeIfMob {
    display: none;
  }
}

ul.timeline {
  font-family: "Nunito";
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #000000;
  display: inline-block;
  position: absolute;
  left: 20px;
  width: 4px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 5px;
}

ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 5px solid #000000;
  left: 12px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.projectPanel {
  color: #eeeeee;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(black)), url("../img/rgbg9.png");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), black), url("../img/rgbg9.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
}

.projectPanel .projectPanelHeader {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 2.8rem;
  text-align: center;
}

.projectPanel .projectName {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 2.2rem;
}

.projectPanel .projectPanelBox {
  background-color: #032b2f;
}

.projectPanel .projectDetails {
  font-family: "Nunito";
  font-weight: 400;
}

@media screen and (min-width: 0px) {
  .gamePanel {
    color: #fafff5;
    background-image: url("../img/rgbg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  .gamePanel .gameName {
    font-family: "Nunito";
    font-weight: 400;
    font-size: 1.66rem;
  }
  .gamePanel .gameDetails {
    font-family: "Nunito";
    font-weight: 400;
  }
}

@media screen and (min-width: 767px) {
  .gamePanel {
    color: #fafff5;
    background-color: #509650;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  .gamePanel .gameName {
    font-family: "Nunito";
    font-weight: 400;
    font-size: 2.2rem;
  }
  .gamePanel .gameDetails {
    font-family: "Nunito";
    font-weight: 400;
  }
}

.mainBtn {
  color: #fafff5;
  background-color: #0a280a;
  border-color: rgba(250, 255, 245, 0.5);
}

.mainBtn:hover {
  color: white;
  background-color: black;
}

.colerrCover {
  background-image: url("https://img.itch.zone/aW1nLzI5MDIxOTgucG5n/original/TA4FKY.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.colerrCover .gamePanelBox {
  color: #fafff5;
  margin: 0;
  padding: 0;
  background-color: rgba(40, 40, 40, 0.9);
}

.colerrCover .mainBtn {
  color: #fafff5;
  background-color: #9600c8;
  border-color: rgba(250, 255, 245, 0.5);
}

.colerrCover .mainBtn:hover {
  color: white;
  background-color: black;
}

.mysticchambersCover {
  background-image: url("https://img.itch.zone/aW1nLzM3NTU4MTEuZ2lm/original/HjhKNZ.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.mysticchambersCover .gamePanelBox {
  color: #fafff5;
  margin: 0;
  padding: 0;
  background-color: rgba(31, 0, 21, 0.7);
}

.mysticchambersCover .mainBtn {
  color: #fafff5;
  background-color: #9600c8;
  border-color: rgba(250, 255, 245, 0.5);
}

.mysticchambersCover .mainBtn:hover {
  color: white;
  background-color: black;
}

.antonsCover {
  background-image: url("https://img.itch.zone/aW1hZ2UvMzg3NjIyLzMwNDU4NTguZ2lm/original/Pp3ROm.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.antonsCover .gamePanelBox {
  color: #fafff5;
  margin: 0;
  padding: 0;
  background-color: rgba(2, 5, 12, 0.7);
}

.antonsCover .mainBtn {
  color: #fafff5;
  background-color: #003278;
  border-color: rgba(250, 255, 245, 0.5);
}

.antonsCover .mainBtn:hover {
  color: white;
  background-color: black;
}

.nickoftimeCover {
  background-image: url("https://bacprogramming.files.wordpress.com/2019/10/story2twitter.gif?w=672&zoom=2");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.nickoftimeCover .gamePanelBox {
  color: #fafff5;
  margin: 0;
  padding: 0;
  background-color: rgba(20, 5, 10, 0.7);
}

.nickoftimeCover .mainBtn {
  color: #fafff5;
  background-color: #8c0032;
  border-color: rgba(250, 255, 245, 0.5);
}

.nickoftimeCover .mainBtn:hover {
  color: white;
  background-color: black;
}

.leverageCover {
  background-image: url("https://img.itch.zone/aW1hZ2UvNDk1MzEzLzI1NjQzMjQuZ2lm/original/BaR86T.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.leverageCover .gamePanelBox {
  color: #fafff5;
  margin: 0;
  padding: 0;
  background-color: rgba(5, 25, 20, 0.7);
}

.leverageCover .mainBtn {
  color: #fafff5;
  background-color: #007882;
  border-color: rgba(250, 255, 245, 0.5);
}

.leverageCover .mainBtn:hover {
  color: white;
  background-color: black;
}

.bacStudiosCover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.7))), url("https://img.itch.zone/aW1nLzI4MjgzNTMucG5n/original/LgAKA6.png");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("https://img.itch.zone/aW1nLzI4MjgzNTMucG5n/original/LgAKA6.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bacStudiosCover .gamePanelBox {
  color: lime;
}

.bacStudiosCover .mainBtn {
  color: #fafff5;
  background-color: #002800;
  border-color: rgba(250, 255, 245, 0.5);
}

.bacStudiosCover .mainBtn:hover {
  color: white;
  background-color: #005014;
}

.htgdDetails {
  font-family: "Nunito";
  font-weight: 400;
}

.htgdHeader {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 2.8rem;
  text-align: center;
}

.mob-noHorizontalGaps {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.mob-noVerticalGaps {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 767px) {
  .mob-noHorizontalGaps {
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .mob-noVerticalGaps {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.nethercardKingdomCover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(rgba(0, 0, 0, 0.8)), to(black)), url("https://img.itch.zone/aW1nLzI4Njc0NzUuZ2lm/315x250%23cm/eg2s7z.gif");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8), black), url("https://img.itch.zone/aW1nLzI4Njc0NzUuZ2lm/315x250%23cm/eg2s7z.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.nethercardKingdomCover:hover {
  color: rgba(250, 255, 245, 0.5);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.25))), url("https://img.itch.zone/aW1nLzI4Njc0NzUuZ2lm/original/y61%2FLZ.gif");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.25)), url("https://img.itch.zone/aW1nLzI4Njc0NzUuZ2lm/original/y61%2FLZ.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ghostRustlersCover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(rgba(0, 0, 0, 0.8)), to(black)), url("https://img.itch.zone/aW1nLzI2NTA1NjYuZ2lm/315x250%23cm/9jk2g4.gif");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8), black), url("https://img.itch.zone/aW1nLzI2NTA1NjYuZ2lm/315x250%23cm/9jk2g4.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ghostRustlersCover:hover {
  color: rgba(250, 255, 245, 0.5);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.25))), url("https://img.itch.zone/aW1nLzI2NTA1NjYuZ2lm/original/l9jsIz.gif");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.25)), url("https://img.itch.zone/aW1nLzI2NTA1NjYuZ2lm/original/l9jsIz.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.exitTheShadowCover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(rgba(0, 0, 0, 0.8)), to(black)), url("https://img.itch.zone/aW1nLzIyMTUxNzUuZ2lm/315x250%23cm/xbQjje.gif");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8), black), url("https://img.itch.zone/aW1nLzIyMTUxNzUuZ2lm/315x250%23cm/xbQjje.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.exitTheShadowCover:hover {
  color: rgba(250, 255, 245, 0.5);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.25))), url("https://img.itch.zone/aW1nLzIyMTUxNzUuZ2lm/original/PccvAh.gif");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.25)), url("https://img.itch.zone/aW1nLzIyMTUxNzUuZ2lm/original/PccvAh.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.alienOverrunCover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(rgba(0, 0, 0, 0.8)), to(black)), url("https://img.itch.zone/aW1nLzIxNjMzOTMuZ2lm/315x250%23cm/l5Mn2S.gif");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8), black), url("https://img.itch.zone/aW1nLzIxNjMzOTMuZ2lm/315x250%23cm/l5Mn2S.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.alienOverrunCover:hover {
  color: rgba(250, 255, 245, 0.5);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.25))), url("https://img.itch.zone/aW1nLzIxNjMzOTMuZ2lm/original/xIo8Ga.gif");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.25)), url("https://img.itch.zone/aW1nLzIxNjMzOTMuZ2lm/original/xIo8Ga.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.delvCover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(rgba(0, 0, 0, 0.8)), to(black)), url("https://img.itch.zone/aW1nLzIwNTQ5NzUuZ2lm/315x250%23cm/TE7NLp.gif");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8), black), url("https://img.itch.zone/aW1nLzIwNTQ5NzUuZ2lm/315x250%23cm/TE7NLp.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.delvCover:hover {
  color: rgba(250, 255, 245, 0.5);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.25))), url("https://img.itch.zone/aW1nLzIwNTQ5NzUuZ2lm/original/m%2FTIZA.gif");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.25)), url("https://img.itch.zone/aW1nLzIwNTQ5NzUuZ2lm/original/m%2FTIZA.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wildDriversCover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(rgba(0, 0, 0, 0.8)), to(black)), url("https://img.itch.zone/aW1nLzIwMzUzMDMuZ2lm/315x250%23cm/5re7Di.gif");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8), black), url("https://img.itch.zone/aW1nLzIwMzUzMDMuZ2lm/315x250%23cm/5re7Di.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wildDriversCover:hover {
  color: rgba(250, 255, 245, 0.5);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.25))), url("https://img.itch.zone/aW1nLzIwMzUzMDMuZ2lm/original/OjKhZV.gif");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.25)), url("https://img.itch.zone/aW1nLzIwMzUzMDMuZ2lm/original/OjKhZV.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.whisperdriftCover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(rgba(0, 0, 0, 0.8)), to(black)), url("https://img.itch.zone/aW1nLzE5MjQyNjUuZ2lm/315x250%23cm/RualvC.gif");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8), black), url("https://img.itch.zone/aW1nLzE5MjQyNjUuZ2lm/315x250%23cm/RualvC.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.whisperdriftCover:hover {
  color: rgba(250, 255, 245, 0.5);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.25))), url("https://img.itch.zone/aW1nLzE5MjQyNjUuZ2lm/original/H%2FUfjI.gif");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.25)), url("https://img.itch.zone/aW1nLzE5MjQyNjUuZ2lm/original/H%2FUfjI.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.endSectionCover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.4))), url("../img/rgbg8.png");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../img/rgbg8.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 767px) {
  .mobGroup {
    position: relative;
    height: 22rem;
  }
  .mobGroup .mobGroupPic1 {
    position: absolute;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    top: -70px;
    left: -20px;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  .mobGroup .mobGroupPic1:hover {
    z-index: 9999;
  }
  .mobGroup .mobGroupPic2 {
    position: absolute;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    left: 40px;
  }
  .mobGroup .mobGroupPic2:hover {
    z-index: 9999;
  }
  .mobGroup .mobGroupPic3 {
    position: absolute;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    top: 70px;
    left: 100px;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  .mobGroup .mobGroupPic3:hover {
    z-index: 9999;
  }
}

@media screen and (max-width: 512px) {
  .mobGroup {
    position: relative;
    height: 20rem;
  }
  .mobGroup .mobGroupPic1 {
    position: absolute;
    width: 75%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    top: -70px;
    left: -20px;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  .mobGroup .mobGroupPic1:hover {
    z-index: 9999;
  }
  .mobGroup .mobGroupPic2 {
    position: absolute;
    width: 75%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    left: 40px;
  }
  .mobGroup .mobGroupPic2:hover {
    z-index: 9999;
  }
  .mobGroup .mobGroupPic3 {
    position: absolute;
    width: 75%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    top: 70px;
    left: 100px;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  .mobGroup .mobGroupPic3:hover {
    z-index: 9999;
  }
}
/*# sourceMappingURL=style.css.map */